.detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.detail__tag {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--color-dark-gray);
}

.detail__info {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .detail {
    text-align: left;
  }
}
